name: Deploy analysis-runner server
on:
  workflow_dispatch:
    inputs:
      hail_sha:
        description: 'Hail GitHub commit SHA'
        required: true
        default: 'HEAD'

jobs:
  deploy_server:
    runs-on: ubuntu-latest

    env:
      DOCKER_BUILDKIT: 1
      BUILDKIT_PROGRESS: plain
      CLOUDSDK_CORE_DISABLE_PROMPTS: 1
      DRIVER_IMAGE: australia-southeast1-docker.pkg.dev/analysis-runner/images/driver:${{ github.sha }}-hail-${{ github.event.inputs.hail_sha }}
      SERVER_IMAGE: australia-southeast1-docker.pkg.dev/analysis-runner/images/server:${{ github.sha }}-hail-${{ github.event.inputs.hail_sha }}

    steps:
    - name: "checkout analysis-runner repo"
      uses: actions/checkout@v3

    - name: "checkout Hail repo"
      uses: actions/checkout@v3
      with:
        repository: "populationgenomics/hail"
        ref: ${{ github.event.inputs.hail_sha }}
        path: "hail"

    - name: "Determine Hail pip version"
      run: |
        cd hail/hail
        make python/hail/hail_pip_version
        echo "HAIL_PIP_VERSION=$(cat python/hail/hail_pip_version)" >> $GITHUB_ENV

    - name: "gcloud setup"
      uses: google-github-actions/setup-gcloud@master
      with:
        project_id: analysis-runner
        service_account_key: ${{ secrets.GCP_SERVER_DEPLOY_KEY }}

    - name: "gcloud docker auth"
      run: |
        gcloud auth configure-docker marketplace.gcr.io,australia-southeast1-docker.pkg.dev

    - name: "build driver image"
      run: |
        docker build -f driver/Dockerfile.hail --build-arg HAIL_PIP_VERSION=$HAIL_PIP_VERSION --tag $DRIVER_IMAGE driver

    - name: "push driver image"
      run: |
        docker push $DRIVER_IMAGE

    - name: "build server image"
      run: |
        docker build --build-arg DRIVER_IMAGE=$DRIVER_IMAGE --tag $SERVER_IMAGE server

    - name: "push server image"
      run: |
        docker push $SERVER_IMAGE

    - name: "deploy server-test"
      run: |
        gcloud run deploy server-test --region australia-southeast1 --no-allow-unauthenticated --platform managed --set-env-vars=DRIVER_IMAGE=$DRIVER_IMAGE,HAIL_SHA=${{ github.event.inputs.hail_sha }} --image $SERVER_IMAGE

    - name: "submit test batch"
      run: |
        URL=$(gcloud run services describe server-test --region australia-southeast1 --platform managed --format "value(status.url)")
        TOKEN=$(gcloud auth print-identity-token)
        curl --fail --silent --show-error -X POST \
            -H "Authorization: Bearer $TOKEN" \
            -H "Content-Type:application/json" \
            -d '{"output": "ci-test-batch/v42", "dataset": "fewgenomes", "accessLevel": "test", "repo": "analysis-runner", "commit": "${{ github.sha }}", "cwd": "test", "script": ["./main.py"], "description": "analysis-runner-test", "wait": true}' \
            $URL

    - name: "deploy server"
      run: |
        gcloud run deploy server --region australia-southeast1 --no-allow-unauthenticated --platform managed --set-env-vars=DRIVER_IMAGE=$DRIVER_IMAGE,HAIL_SHA=${{ github.event.inputs.hail_sha }} --image $SERVER_IMAGE
